<h1>Log In</h1>

  <% @errors && @errors.each do |e| %>
    <li><%=e%></li>
  <%end%>

<%= form_for :user do |f|%>
  <%=f.label "Username" %>
  <%=f.text_field :username%><br />
  <%=f.label "Password"%>
  <%=f.password_field :password %><br />
  <%=f.submit "Log In" %>
<%end%>
<%= link_to "Log In With Facebook", 'auth/facebook' %>