<%=render "application/flash"%>
<div class = "row">
<%= form_for(@monster) do |f| %>
    <div class="col-6">
    <div class="mb-3">
    <%=f.label "Monster Name"%>
    <%=f.text_field(:name)%>
    </div>
    <div class="mb-3">
    <%=f.label "Size (in Stories)"%>
    <%=f.text_field(:size)%>
    <div id="sizelHelp" class="form-text">Size must be between 5 and 80 stories</div>
    </div>
    <%=f.submit class: "btn btn-primary"%>
    </div>
<%end%>
</div>