<h2><%=@monster.name%></h2>
<br /><br />  
<% if my_monster?(@monster) %>
<%=link_to "Edit your Monster's Name", edit_monster_path(@monster)%><br />
    <%=link_to "Start a Fight for your Monster", new_monster_fight_path(@monster)%>
<%else%>
    <%=link_to "Challenge This Monster to a Fight", new_monster_fight_path(@monster)%>
<%end%>
<h4> Fights! </h4>
<%= render partial: "fights/fight_list", locals: {fights: @monster.all_fights} %>

