<%=render(partial: "application/errors", locals: {errors: @errors})%>

<h1>Sign Up</h1>
<%= form_for @user, url: signup_path do |f| %>
  <%=f.label "Username"%>
  <%=f.text_field :username%><br />
  <%=f.label "Password"%>
  <%=f.password_field :password %><br />
  <%=f.label "Password Confirmation"%>
  <%=f.password_field :password_confirmation %><br />
  <%=f.submit "Sign Up"%>
<%end%>

<%= link_to "Sign Up With Facebook", 'auth/facebook' %>
