<% if flash[:alert] %>
<% flash[:alert].each do |error| %>
<div class="alert alert-primary" role="alert"><%= error %></div>
<% end %>
<% end %>
<h2>Create a Fight!</h2>
<div class = "row">
<%= form_for(@fight, url: monster_fights_path(@monster.id)) do |f| %>
    <div class="col-6">
    <div class="mb-3">
    <%=f.label "Fight Title"%>
    <%=f.text_field(:title)%>
    </div>
    <div class="mb-3">
    <% if my_monster?(@monster) %>
        <%=f.label "Defending Monster"%>
        <%= f.collection_select :defender_id, @monsters, :id, :name %>
    <% else %>
        <%=f.label "Your Monster"%>
        <%= f.collection_select :challenger_id, @monsters, :id, :name %>
    <% end %>
    </div>
    <div class="mb-3">
    <%=f.label "Location"%>
    <%= f.fields_for :location do |loc| %>
        <%= loc.text_field :name, list: "location_autocomplete" %>
        <datalist id="location_autocomplete">
            <% Location.all.each do |location| %>
                <option value="<%= location.name %>">
            <%end%>
        </datalist>
    <% end %>
    </div>
    <%=f.submit class: "btn btn-primary"%>
    </div>
<%end%>
</div>