
<% if flash[:alert] %>


<p><%= flash[:alert] %></p>

<% end %>

<%= form_for(@fight, url: monster_fights_path(@monster.id)) do |f| %>
    <%=f.label "Fight Title"%>
    <%=f.text_field(:title)%>
    
    <% if my_monster?(@monster) %>
        <%=f.label "Defending Monster"%>
        <%= f.collection_select :defender_id, @monsters, :id, :name %>
    <% else %>
        <%=f.label "Your Monster"%>
        <%= f.collection_select :challenger_id, @monsters, :id, :name %>
    <% end %>

    <%=f.label "Location"%>
    <%= f.fields_for :location do |loc| %>
        <%= loc.text_field :name, list: "location_autocomplete" %>
        <datalist id="location_autocomplete">
            <% Location.all.each do |location| %>
                <option value="<%= location.name %>">
            <%end%>
        </datalist>
    <% end %>
    <%=f.submit%>
<%end%>