<!DOCTYPE html>
<html>
  <head>
    <title>KaijuFighter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
  <div class="container px-3">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
  <ul class="navbar-nav">
  <%if current_user %>
  <li class="nav-item"><%=link_to "#{current_user.username} (Home Page)", user_path(current_user.id), class: "nav-link" %></li>
  <li class="nav-item"><%=link_to "All Monsters", monsters_path, class: "nav-link" %></li>
  <li class="nav-item"><%=link_to "All Locations", locations_path, class: "nav-link" %></li>
  <li class="nav-item"><%=link_to "Fight Results", standings_path, class: "nav-link" %></li>
  <li class="nav-item"><%=link_to "Healthiest Monster", root_path, class: "nav-link" %></li>
  <li class="nav-item"><%=link_to "Most Destroyed Locations", root_path, class: "nav-link" %></li>
  <li class="nav-item"><%=button_to "Log Out", logout_path, method: :post, class: 'btn btn-link'%></li>
  <%else%>
  <li class="nav-item"><%=link_to "Sign Up", signup_path, class: "nav-link" %></li>
  <li class="nav-item"><%=link_to "Log In", login_path, class: "nav-link" %></li>
  <%end%>
  </ul>
  </nav>
  <br />
    <%= yield %>
    <br /><br />
    </div>
  </body>
</html>
